<footer class="row">
    <div class="col-lg-12 col-md-12">
        <img class="me" src="assets/images/adrien.jpg" alt="Adrien Leteinturier" ng-init="displayEffectFooter('.me', '.social' ,'animated flipInY')" />
        <div class="social">
            <i id="github" onclick="window.open('https://github.com/Adrien-Leteinturier/')" class="fa fa-github fa-1x"></i>
            <i id="facebook" onclick="window.open('https://www.facebook.com/AdrienDeveloper/')" class="fa fa-facebook-square fa-1x"></i>
            <i id="linkedin" onclick="window.open('https://www.linkedin.com/in/adrien-leteinturier/')" class="fa fa-linkedin fa-1x"></i>
            <i id="twitter" onclick="window.open('https://twitter.com/AdrienDeveloper')" class="fa fa-twitter-square fa-1x"></i>
            <i id="mail" onClick="location.href='mailto:adrienleteinturier@gmail.com'" class="fa fa-envelope fa-1x"></i> 
        </div>
    </div>            
</footer>
