    <div class="titleContact text-center">
        <h1>
            Vous avez besoin d'un site internet, d'une application,<br> d'une identité visuelle et d'une stratégie sur les réseaux sociaux<br>
        </h1>
        <p>Contactez-moi</p>
    </div>
<footer class="row">
    <div class="col-lg-6 col-md-6">
        <img class="me" src="assets/images/logo-adrien-Leteinturier.png" alt="Adrien Leteinturier" ng-init="displayEffectFooter('.me', '.social' ,'animated flipInY')" />
        <div class="social">
            <i id="github" onclick="window.open('https://github.com/Adrien-Leteinturier/')" class="fa fa-github fa-1x"></i>
            <i id="facebook" onclick="window.open('https://www.facebook.com/AdrienDeveloper/')" class="fa fa-facebook-square fa-1x"></i>
            <i id="linkedin" onclick="window.open('https://www.linkedin.com/in/adrien-leteinturier/')" class="fa fa-linkedin fa-1x"></i>
            <i id="twitter" onclick="window.open('https://twitter.com/AdrienDeveloper')" class="fa fa-twitter-square fa-1x"></i>
            <i id="mail" onClick="location.href='mailto:adrienleteinturier@gmail.com'" class="fa fa-envelope fa-1x"></i> 
        </div>
    </div>      
    <div class="col-md-6 col-lg-6" ng-init="displayEffectFooter('.me', 'ui-gmap-google-map' ,'animated flash')">
        <ui-gmap-google-map center='map.center' zoom='map.zoom'>
            <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id" click="onClick"></ui-gmap-marker>
            <ui-gmap-window coords="marker.coords" options="windowOptions" show="activeModel.show"></ui-gmap-window>
        </ui-gmap-google-map>
    </div>          
</footer>

