<div id="modalConfirm">
    <div class="row">
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p class="p-content">Etes vous sur de supprimer la question ?</p>
        </div>        
    </div>
    <div class="row text-center">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            
            <button type="button" class="btn btn-default">Confimer</button>
            <button type="button" class="btn btn-default">Annuler</button>
            
        </div>        
    </div>
</div>
