$lightBlack : #0C1A1E;
$yellow :#f6dd1f;
$saumon :#f1a993;
$purple :#8997b8;
$white : white;
$gray : #afafaf;
$lightGray:#f8f8f8;
$workSan : 'Work Sans', sans-serif;
$marginBottom : 60px;
$paragrapheSize : 1.1em;
$zero:0;
$paddingLRtext: 30px;
$padding10: 10px;
$fontSizeService : 10em;
$maxWidthModalFacebook : 380px;
$none : none;