$lightBlack : #0C1A1E;
$yellow :#f6dd1f;
$saumon :#f1a993;
$purple :#8997b8;
$white : white;
$gray : #afafaf;
$lightGray:#f8f8f8;
$twitter: #1DA1F2;
$facebook: #3B5998;
$instagram:
radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),
radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),
radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),
radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);

$huguenin : #135695;
$workSan : 'Work Sans', sans-serif;
$marginBottom : 60px;
$paragrapheSize : 1.1em;
$zero:0;
$paddingLRtext: 30px;
$padding10: 10px;
$fontSizeService : 10em;
$maxWidthModalFacebook : 380px;
$none : none;